<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" media="all">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img src="{% static 'images/img_2.jpg' %}">
<img src="{% static 'images/img_1.jpg' %}">
<img src="{% static 'images/img_3.jpg' %}"><br>

<!--<img src="{{ dicta.road }}">-->
{% for foo in dictb %}
    <img src="{{ foo.road}}">
{% endfor %}
<form action="/myphoto/" enctype="multipart/form-data" method="post">
<input type="file" name = "picfile">
       <button value="提交" type="submit">提交</button><br>
</form>
<a href="/back_in"><div style="color: #b92c28;font-size: large">返回首页</div></a>
</body>
</html>