{% extends 'login.html' %}
{% load staticfiles %}
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

{#<head>#}
{#<meta charset="UTF-8">#}
{#<title>Title</title>#}
{#{% load static %}#}
{#<link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" media="all">#}
{#<style type="text/css">#}
{#</style>#}
{#</head>#}
<body>
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            {% block head %}
                <form id="signupForm" class="form-horizontal" method='post' action="" >
                    <span class="heading">用户注册</span>
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">用户名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputEmail3" name="name" placeholder="用户名"
                                   required minlength="2">
                            <span id="p"></span>
                        </div>
                        <div class="aa">
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="useage" class="col-sm-2 control-label">年龄：</label>
                        <div class="col-sm-10">
                            <input type="text" id="age" class="form-control" name="age" placeholder="年龄" required>
                        </div>
                        <div class="aa">
                            <i class="fa fa-wordpress"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">邮箱：</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" name="email" placeholder="email" required>
                        </div>
                        <div class="aa">
                            <i class="fa fa-address-book"></i>
                        </div>
                    </div>
                    <div class="form-group help">
                        <label for="pwd" class="col-sm-2 control-label">密码：</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword" name="pwd"
                                   placeholder="密　码" required>
                        </div>
                        <div class="aa">
                            <i class="fa fa-lock"></i>
                        </div>
                        <a href="#" class="fa fa-question-circle"></a>
                    </div>
                    <div class="form-group help">
                        <label for="pwd2" class="col-sm-2 control-label">确认密码：</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword2" name="pwd2"
                                   placeholder="确认密码" required>
                            <span id="pwd_err"></span>
                        </div>
                        <div class="aa">
                            <i class="fa fa-lock"></i>
                        </div>
                        <a href="#" class="fa fa-question-circle"></a>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default" id="btn">注册</button>
                        <div class="pwd">
                            <a href="/login" class="">已有账号，点此直接登录</a>
                        </div>
                    </div>
                </form>
            {% endblock %}
        </div>
    </div>
</div>


</body>
{% block js %}
    <script type="text/javascript">


        $(document).ready(function () {
            $("input").keypress(function () {
                $("input").css("background-color", "yellow");
            });
            $("input").keydown(function () {
                $("input").css("background-color", "blue");
            });
            $("input").keyup(function () {
                $("input").css("background-color", "pink");
            });
            $(".heading").hover(function () {
                $(".heading").css("background-color", "pink");
            }, function () {
                $(".heading").css("background-color", "orange");
            });

            $("#inputEmail3").change(function () {
                $.post("http://127.0.0.1:8777/verification/",
                    {
                        "name": $("#inputEmail3").val()
                    },
                    function (resp) {
                        resp = JSON.parse(resp);
                        if (resp['success']) {
                            console.log("resp['success']=", resp['success'])
                            $("#p").text('');
                        } else {
                            console.log(resp['error']);
                            $("#p").text(resp['error']);
                        }

                    }
                )
            });
            $("#inputPassword2").blur(function(){
                 if ($("#inputPassword").val() != $("#inputPassword2").val()){
                      $("#pwd_err").text("password repeat error");
                 }else{
                     $("#pwd_err").text("");
                 }
            });


            $("button").click(function () {
                if ($("#inputPassword").val() == $("#inputPassword2").val()){
                     $.post("",
                    {
                        "name": $("#inputEmail3").val(),
                        "age": $("#age").val(),
                        "pwd": $("#inputPassword").val(),
                        "email": $("#email").val(),
                        "action": "regist"
                    },
                    function (resp) {
                        resp = JSON.parse(resp);
                        console.log(resp);
                        if (resp['success']) {
                            console.log("resp['success']=", resp['success']);
                            window.location.href = "http://127.0.0.1:8777/login/"
                        } else {
                            console.log('rrrrrrrr');
                        }

                    }
                );}
                else{
                    alert("pwd repeat error");
                    return false;
                }

            });
        });

    </script>
{% endblock %}
</html>