{% load staticfiles %}
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" media="all">
<style type="text/css">
</style>
</head>
<body>
<div class="login">
<form method='post'action="/regist/" target="_self">
用户名：<input type="text" name="name"><br>
密码：<input type="password" name="pwd"><br>
年龄：<input type="text" name="age"><br>
email:<input type="text"name="email"><br>
<input type="submit" value="注册">
    <a href="/login"><input type="button"value="登录"></a>
</form>
</div>

</body>
</html>